body{
    font-family: 'Trebuchet MS';
}

.logo-main{
    margin-left: 650px;
}

#logo{
   border-radius: 50%;
   width: 15%;
}

.option-list{
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin-left: 20px;
   margin-right: 60px; 
}

.header-option{
  font-family: monospace;
  font-size: 16px;
  text-transform: capitalize;
}

.header-option li:hover{
    color: coral;
    cursor: pointer;
}

.image1{
    width:70%;
    margin-left: 230px;
    height: 600px;
    margin-top: 20px;
}

.welcome-text{
    font-size: 35px;
    text-transform: uppercase;
    font-family: Geneva;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
}

.text-image{
    float: right;
    margin-right: 20px;
}

.about-us{
    text-align: left;
    margin: 0px 300px;
}

.read-more{
    margin-left: 700px;
    padding: 8px;
    background-color: #84a59d;
    font-size: 18px;
}

.read-more:hover{
    background-color: #354f52;
    color: #fff;
}

.read-btn{
    margin-top: 50px;
}

.read-btn input{
    cursor: pointer;
}

.showcase{
    font-size: 35px;
    text-transform: uppercase;
    font-family: Geneva;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: 50px;
}

.flex-container{
  display: grid;
  grid-template-columns: auto auto auto;
  margin-left: 220px;
  margin-right: 120px;
  margin-top: 80px;
}

.image-r{
    border-radius: 50%;
}

.history-main{
    font-size: 35px;
    text-transform: uppercase;
    font-family: Geneva;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin-top: 50px; 
}

.history-text{
    text-align: left;
    margin: 0px 150px;
}

.footer{
    display: flex;
    justify-content:space-between;
    width: 70%;
    margin-left: 250px;
    margin-right: 250px;
    background-color:#424041;
    position: absolute;
    height: 60px;
}

#footer-container{
    color: #fff;
    margin-left: 40px;
    margin-top: 20px;
}

#footer-button{
    margin-top: 10px;
    margin-right: 70px;
}

#footer-button input{
    padding: 10px;
    background-color: #25c4ec;
    font-size: 16px;
    cursor: pointer;
}

#footer-button input:hover{
    background-color: #044a3c;
}

.footer-menu{
display: flex;
justify-content: space-between;
width: 70%;
margin-left: 250px;
margin-right: 250px;
padding-top: 150px;
height: 300px;
color: #fff;
}

.footer-main{
    background-color: #353535 
}

#font-1{
    text-transform: capitalize;
}

.footer-tittle{
    text-align:justify;
}

ul{
    list-style-position: outside;
    list-style: none;
    padding-left: 0px;
    text-transform: capitalize;
    line-height:1.5;
    cursor: pointer;
}

.fa-brands{
    background-color: #fff;
    padding: 8px;
    color: #000;
    
}

.fa-brands:hover{
    background-color: #811712;
}

#copy-rights{
    text-align: center;
    color: #fff;
}